* {
    margin: 0;
    padding: 0;
}

.HomePage-MainContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/src/Assets/25503.jpg');
    background-size: cover;
}

.HomePage-WeatherContainer {
    width: 40%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Main-Contain {
    width: 83%;
    font-size: 55px;
}

.Sub-Contain {
    width: 95%;
    font-size: 25px;
}

.Container-Button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container-Button button {
    width: 20%;
    padding: 18px;
    border-radius: 12px;
    font-size: 17px;
    background-color: transparent;
    transition: 0.4s;
}

.Container-Button :hover {
    background-color: #add0d5;
}